.EditMainContainer{
  width: 80%;
  height: 80%;
  border: 1px solid;
  display: flex;
  justify-content: center ;
  align-items: center;
  flex-direction: column;
}
.EditContainer{
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center ;
  align-items: center;


  &__static{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 50%;
  }
  &__input{
    height: 50%;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: 5%;
    &__box{
      width: 90%;
      height: 7%;
    }
  }
}
.editSubmit{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  height: 20%;
  &__submit{
    text-decoration: none;
    color: black;
    border: 1px solid ;
    background-color: white;
    cursor: pointer;
    font-size: 25px;
    width: 20%;
    height: 50%;
  }
  &__cancel{
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 25px;
    border: 1px solid ;
    width: 20%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}