.DetailsContainer{
  width: 50%;
  height: 90%;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__box{
    width: 60% ;
    height: 80%;
    display: flex;
    flex-direction: column;
    &__details{
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__separation{
        margin-left: 20%;
      }
    }
  }
  .CrudSize{
    width: 80%;
    height: 10%;
  }

}