.CrudContainer{
  width: 100%;
  height: 100%;
  display: flex;

  &__inputs{
    width: 33%;
    height: 100%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}