.MenuContainer{
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &__inputs{
    width: 10%;
    height: 30%;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    margin-right: 5%;
    text-align: center;
    color: black;
  }
}